@import "./control_bar.css";
@import "/node_modules/uikit/dist/css/uikit.min.css";

/* ====================================== */
body {
    display:flex;
    box-sizing:border-box;
    width: 100vw;
    height: 100vh;
}
body * {
    display:flex;
    box-sizing:border-box;
    width: 50%;
    height: 50%;
}
